body{
    background-color: lightgray;
}

.container{;
    background-color: white;
    padding: 25px;
    margin-left: 60px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-top: 60px;

}

.section-head{
    color: teal;
    text-align: left;
    
}

.p{
    color: teal;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    position: relative;
}

.img-thumbnail{
    height: 150px;
    width: 200px;
    padding: 2.5px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    margin-bottom: 2.5px;
    margin-top: 2.5px;

}

.img-thumbnail-home{
    height: auto;
    padding: 2.5px;
    text-align: center;
    margin:auto;
    display: block;

}

.img-thumbnail-highlighted{
    height: 150px;
    width: 200px;
    padding: 2.5px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
    border:2px;
    border-color: teal;
    border-style: solid;

}

.img-fluid{
    height: auto;
    display: block;
    max-width: 100%;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    position: relative;

}